.timeline-container {
    width: 70vw;
    margin: 0 auto -1em auto;
    display: flex;
    flex-flow: column nowrap;
}

.timeline-item {
    border: .3em solid #AF218E;
    border-radius: 1em;
    margin-bottom: 1em;
}

.content-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.content-title {

}

.content-link {
    width: 90%;
}

.content-img {
    width: 100%;
    border-radius: 1em;
}

.content-blurb {
    margin: 1em 0 0 0;
}

.content-date {
    margin: 1em 0 2em 0;
}

.comment-container {
    /* border: .2em solid red; */
    margin: 0 3em 1em 3em;
    border-radius: 1em;
    padding: .2em 0;
    background-color: #AA7DA1CC;
}

.comment {
    display: flex;
    flex-flow: row nowrap;
    margin: 1em 0;
    color: #1F081C;
}

.comment-detail {
    padding-left: 1em;
    position: relative;
}

.comment-detail-bg {
    position: absolute;
    width: 100%;
    height: 50%;
    transform: translateX(-1em);
    border: solid #1F081C;
    border-width: 0 0 0 .2em;
    transition: height 150ms;
}

.comment-detail:hover > .comment-detail-bg {
    height: 100%;
}

.comment-name {
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

.comment-body {
    font-size: 1.3em;
    margin: 0;
    white-space: pre-wrap;
}

.comment-form {
    margin: 0 3em 1em 3em;
    padding: 1em 0;
    border-radius: 1em;
    background-color: #AA7DA1CC;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.comment-form textarea {
    outline: none;
    resize: none;
    overflow: auto;
    border: none;
    background-color: #1F081CAA;
    padding: .5em;
    border-radius: 1em;
    color: #8D98B4;
    flex: 1;
}

.comment-form button {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: .2em solid #1F081C;
    position: relative;
    margin: 0 1em 0 .9em;
    /* font-size: 2em; */
    background-color: #1F081C69;
    background-image: url('../assets/rightArrow.png');
    background-position: center;
    background-size: cover;
    /* color: #8D98B4; */
    cursor: pointer;
}

.user-avatar-container {
    margin: 0 1em;
    border-radius: 50%;
    background-color: #1F081C;
    width: 5.4em;
    height: 5.4em;
}

.user-avatar {
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 0.6em;
    left: 0.6em;
}